*, body, html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


header{
    background-color: rgb(0, 140, 255);
    margin-top: -10px;
    padding-top: 10px;
}

.navbarr {
    background-color: rgb(0, 140, 255);
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;

    }

    li {
        margin-left: 30px;
        color: white;
        font-size: 15px;
        margin-top: 4px;

    }

    .navbarlink {
        text-decoration: none;
        color: white;
    }

    .logo {
        width: 60px;
    }

    .sub1 {
        flex-grow: 3;
        margin-left: 20px;
    }

    .sub2 {
        flex-grow: 7;
    }
}

main {
    .heroSection{
        height: 40vh;
        background-image: linear-gradient(178deg, #188dfa 90%, #ffffff calc(90% + 2px));
    }
    .getstartedbtn {
        font-weight: bold;
        width: 25%;
        height: 30%;
        font-size: small;
    }

    .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .grid {
        display: grid;
    }

    .grid-center {
        place-items: center;
    }

    .text-black {
        color: black;
    }

    h6,
    p {
        color: black;
    }

    .viewall {
        color: rgb(0, 128, 255);
        font-size: 15px;
        text-decoration-style: dashed;
    }

    .trustedIMG {
        width: 15%;
    }

    .trustedSectionText {
        font-size: 12px;
    }

    #mainCard {
        border-radius: 10px;
        border-bottom-right-radius: 60px;
    }

    $animation-speed: 1s;
    $background-color: #7156a1;
    $card-color: darken($background-color, 45); //#616161;
    
    .wrapper {
        height: 100%; // Adjusted to take the full height of its container
        width: 65%;
    }
    
    .creditcard {
        background: #281152;
        box-shadow: 0px 0px 30px 0px rgba(#000, 0.3);
        border-radius: 1rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto; // Changed to auto to adapt to content
        width: 155%;
    }
    
    .cards {
        .face {
            @extend .creditcard;
    
            .head {
                display: flex;
                justify-content: space-between;
                margin: 16px 16px 0 16px;
    
                .cardTitle {
                    font-weight: 200;
                    font-size: 1rem; // Adjusted to a relative unit
                }
            }
    
            .main {
                margin: 16px 16px 0 16px;
    
                .number-title {
                    color: darken(#fff, 20);
                }
    
                .number {
                    font-size: 1.5rem; // Adjusted to a relative unit
                }
            }
    
            .dates {
                display: flex;
                max-width: 100%;
                justify-content: space-between;
                margin: 16px 16px 16px 16px;
            }
        }
    }
    
    .activeBtnCard {
        border-radius: 5px;
        background-color: rgb(50, 205, 179);
        color: white;
    }
    
    .creditCardExpiry,
    .cardName {
        opacity: 0.5;
        font-size: 0.75rem; // Adjusted to a relative unit
    }
    
}

.middleSection {
    background-color: white;

    .firstBlockCard {
        max-height: 400px; 
    }

    .firstblockP {
        font-size: 12px;
    }

    #firstBlockImageDiv{
        top: -50px;
        left: 170px;
        top: 20%;
        left: 75%;
        transform: translateX(-50%);
    }
    .firstBlockIMG {
        border-radius: 10px;
        width: 250px;
        height: 200px;
    }

    .firstBlockBtn {
        border-radius: 5px;
        width: 100px;
        height: 30px;
        top: 15%;
        left: 75%;
        transform: translateX(-50%);
        font-size: small;
    }

    .firstBlockBtnTools {
        color: white;
        border-radius: 30px;
    }

    .image-container {
        position: relative;
        overflow: hidden;
    }
    
    .secondBlockIMG {
        width: 70%;
        height: 80%;
        border-radius: 10px;
    }
    
    .secondBlock{
        .max-width-50 {
            max-width: 35%;
        }
    }

    .secondBlockBtn {
        border-radius: 30px;
        background-color: rgb(50, 205, 179);
        color: white;
        width: 100px;
        height: 30px;
        font-size: 12px;
    }

    .secondBlockVideoBtn {
        border-radius: 5px;
        width: 100px;
        height: 30px;
        top: 10%;
        left: 13%;
        transform: translateX(-50%);
        font-size: small;
    }

    .firstBlock {
        margin-top: 70px;

    }
}

.leftCards {
    .JMCircle {
        background-color: sandybrown;
        height: 35px;
        width: 35px;
        border-radius: 100px;
        margin-top: -4px;
        color: white;

        p {
            font-size: 15px;
            margin-top: 2px;

        }
    }

    .JMtext,
    .JMtext2 {
        margin-left: 10px;
        margin-top: 0px;
        font-size: 13px;
        width: 70%;
    }

    .greenCircle {
        background-color: rgb(50, 205, 179);
        height: 35px;
        width: 35px;
        border-radius: 100px;
    }

    .JMtextMini {
        font-size: 11px;
    }

    .JMtext2 {
        margin-top: 6px;
        font-size: 13px;
    }

    .JMheart2 {
        margin-top: 6px;
        margin-left: 4px;
    }

}

.rightCards {
    .airbnbIMGcard {
        width: 90px;
        height: 50px;
        position: relative;
        top: 10px;
        left: 30px;

    }

    .airbnbRating {
        font-size: 14px;
    }

    .airbnbReviews {
        font-size: 12px;
        opacity: 0.5;
    }

    .companyIMGCard {
        border-radius: 100px;
        width: 50px;
        position: relative;
        top: 20px;
        left: 55px;
    }

    .companyText {
        font-size: 13px;
    }

    .profileAvatars {
        img {
            height: 35px;
            width: 35px;
            border-radius: 100px;
            border: 2px solid white;
        }

        .avatar1 {
            position: relative;
            left: 18px;
        }

        .avatar2 {
            position: relative;
            left: 8x;
        }

        .avatar3 {
            position: relative;
            right: 18px;

        }
    }
}

.thirdBlock {
    .thirdBlockBtnTools {
        color: white;
        width: 100px;
        height: 30px;
        font-size: 12px;
        border-radius: 30px;

    }
}

.fourthBlock {
    .fourthBlockBtn {
        border-radius: 30px;
        background-color: rgb(245, 188, 0);
        color: white;
        width: 100px;
        height: 30px;
        font-size: 12px;
    }

    .btnAppStore {
        border-radius: 7px;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 130px;
        height: 45px;
        font-size: 10px;
        text-align: center;

        i {
            position: relative;
            top: 8px;
            margin-right: 10px;
        }
    }

    .btnPlayStore {
        border-radius: 7px;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 130px;
        height: 45px;
        font-size: 10px;
        text-align: center;

        i {
            position: relative;
            top: 8px;
            margin-right: 10px;
        }
    }
}

.fifthBlock {
    .fifthBlock_container {
        background-color: #281152;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
    

        .textBlock {
            padding-left: 50px;
            h6 {
                color: white;
                font-size: 17px;
            }

            p {
                color: white;
                font-size: 10px;
            }
        }

        .LearnMoreBtn {
            position: relative;
            left: 120px;
            bottom: 30px;
            border-radius: 5px;
            padding: 5px;

        }
    }
}

.lowerSection {

    background-image: linear-gradient(178deg, #f5f4f4 90%, #ffffff calc(90% + 2px));

    .headerText {
        position: relative;
        left: 50px;
        margin-bottom: 80px;

        .awardsButton {
            color: white;
            width: 70px;
            height: 30px;
            font-size: 12px;
            border-radius: 30px;
        }
    }

    .airbnbIMGcardEND {
        width: 90px;
        height: 50px;
        position: relative;
        top: 10px;
        left: 30px;

    }

    .airbnbRatingEND {
        font-size: 13px;
    }

    .airbnbReviewsEND {
        font-size: 11px;
        opacity: 0.5;
        position: relative;
        top: -8px;
    }

    .amazonIMGcard {
        width: 90px;
        height: 50px;
        position: relative;
        top: 10px;
        left: 30px;
    }

    .amazonText {
        font-size: 13px;
    }

    .learnMoreEND {
        position: relative;
        top: -10px;
        left: 30px;
        border-radius: 5px;
        padding: 5px;
        font-size: 12px;
        color: black;
    }

    .cards {
        a{
            text-decoration: none;
        }
        .card:hover{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.3s ease;
        }
        .card a:hover {
            text-decoration: none; /* Remove underline on hover */
          }
        #card1{

        }
        #card2 {
            position: relative;
            bottom: 30px;
        }
        #card3 {
            
        }

        #card4 {
            position: relative;
            bottom: 30px;
        }
        #card5 {
            
        }
    }
}

.accordionSection {
    background-color: white;
    .firstAccordion{
        .accordion-button::after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
        }
        .accordion-button:not(.collapsed)::after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/%3E%3C/svg%3E");
        }
    }
    
    .secondAccordion{
        .accordion-button::after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
        }
        .accordion-button:not(.collapsed)::after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/%3E%3C/svg%3E");
        }
    }
    .accordionSecondText{
        h3{
            font-size: 19px;
            margin-bottom: 20px;
        }
        button{
            border-radius: 5px;
            width: 15vw;
            height: 3vh;
        }
    }
}

footer{
    background-color: #281152;
    .footerOne{
        h3, p{
            color: white;
        }
        .buttonsOne{
            position: relative;
            left: 90px;
        }
    }
    .footerTwo{
        .logoOdoo{
            width: 80px;
        }
        h3, p{
            color: white;
        }
        ul{
            list-style-type: none;
            a{
                text-decoration: none;
                color: white;
                opacity: 0.5;
            }
        }
        #footerLinks{
            position: relative;
            left: 90px;
            h6{
                color: white;
                position: relative;
                left: 30px;
                margin-bottom: 20px;
            }
        }
    }
    .footerThree{
        h3, p{
            color: white;
        }
        ul{
            list-style-type: none;
            position: relative;
            left: 70px;
            li{
                text-decoration: none;
                color: white;
                margin-right: 10px;
                opacity: 0.5;
            }
        }
    }
}
