*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  

body{
    background-color:rgb(0, 140, 255);
    padding: 0;
    margin: 0;
}

.navbarr{
    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        
    }
    li {
        margin-left: 30px;
        color: white;
        font-size: 15px;
        margin-top: 4px;
    
    }
    .navbarlink{
        text-decoration: none;
        color: white;
    }
    .logo{
        width: 60px;
    }
    .sub1{
        flex-grow: 3;
        margin-left: 20px;
    }
    .sub2{
        flex-grow: 7;
    }
}

main{
    .getstartedbtn{
        font-weight: bold;
    }
    
    .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .grid {
        display: grid;
    }
    
    .grid-center {
        place-items: center;
    }
    
    .text-black{
        color: black;
    }
    h6, p{
        color: black;
    }
    .viewall{
        color: rgb(0, 128, 255);
        font-size: 15px;
        text-decoration-style: dashed;
    }
    .trustedIMG{
        width: 15%;
    }
    .trustedSectionText{
        font-size: 12px;
    }
#mainCard{
    border-radius: 10px;
    border-bottom-right-radius: 60px;
}

$animation-speed: 1s;
$background-color: #7156a1;
$card-color: darken($background-color, 45); //#616161;
.wrapper {
    height: 200px;
    width: 200px;

}

.creditcard {
    background:#281152;
    box-shadow: 0px 0px 30px 0px rgba(#000, 0.3);
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5%;
    width: 155%;
}
.cards {
    .face {
        @extend .creditcard;
        .head {
            display: flex;
            justify-content: space-between;
            margin: 16px 16px 0 16px;
            .cardTitle {
                font-weight: 200;
                font-size: 15px;
            }
        }
        .main {
            margin: 16px 16px 0 16px;
            .number-title {
                color: darken(#fff, 20);
            }
            .number {
                font-size: 24px;
            }
        }
        .dates {
            display: flex;
            max-width: 100px;
            justify-content: space-between;
            margin: 16px 16px 16px 16px;
        }
    }
}
.activeBtnCard{
    border-radius: 5px;
    background-color: rgb(50, 205, 179);
    color: white;
}

.creditCardExpiry, .cardName{
    opacity: 0.5;
    font-size: x-small;
}
}

.middleSection{
    background-color: white;
    .firstBlockCard{
        width: 80%;
    }
    .firstblockP{
        font-size: 12px;
    }
    .firstBlockIMG{
        width: 60%;
        border-radius: 10px;
        position: relative;
        top: -300px;
        right: -160px;
    }
    .firstBlockBtn{
        position: relative;
        top: -370px;
        right: -50px;
        border-radius: 5px;
        font-size: 12px;
    }
    .firstBlockBtnTools{
        color: white;
        border-radius: 30px;
    }
    .secondBlockIMG{
        width: 85%;
        border-radius: 10px;
    }
    .secondBlockBtn{
        border-radius: 30px;
        background-color: rgb(50, 205, 179);
        color: white;
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
    .secondBlockVideoBtn{
        position: relative;
        top: -280px;
        right: -17px;
        border-radius: 5px;
        font-size: 12px;
    }
    .firstBlock{
        margin-top: 70px;
    
    }
}

.leftCards{
    .JMCircle{
        background-color: sandybrown;
        height: 35px;
        width: 35px;
        border-radius: 100px;
        margin-top: -4px;
        color: white;
        p{
            font-size: 15px;
            margin-top: 2px;
    
        }
    }
    .JMtext, .JMtext2{
        margin-left: 10px;
        margin-top: 0px;
        font-size: 13px;
        width: 70%;
    }
    .greenCircle{
        background-color: rgb(50, 205, 179);
        height: 35px;
        width: 35px;
        border-radius: 100px;
    }
    .JMtextMini{
        font-size: 11px;
    }
    .JMtext2{
        margin-top: 6px;
        font-size:13px;
    }
    .JMheart2{
        margin-top: 6px;
        margin-left: 4px;
    }
    
}
.rightCards{
    .airbnbIMGcard{
        width: 7vh;
        height: 10vh;
        position: relative;
        top: 10px;
        left: 30px;
      
    }
    .airbnbRating{
        font-size: 14px;
    }
    
    .airbnbReviews{
        font-size: 12px;
        opacity: 0.5;
    }
    .companyIMGCard{
        border-radius: 100px;
        width: 50px;
        position: relative;
        top: 20px;
        left: 55px;
    }
    .companyText{
        font-size: 13px;
    }
    .profileAvatars{
        img{
            height: 35px;
            width: 35px;
            border-radius: 100px;
            border: 2px solid white;
        }
        .avatar1{
            position: relative;
            left: 18px;
        }
        .avatar2{
            position: relative;
            left: 8x;
        }
        .avatar3{
            position: relative;
            right: 18px;
            
        }
    }
}

.thirdBlock{
    .thirdBlockBtnTools{
        color: white;
        width: 100px;
        height: 30px;
        font-size: 12px;
        border-radius: 30px;

    }  
}

.fourthBlock{
    .fourthBlockBtn{
        border-radius: 30px;
        background-color: rgb(245, 188, 0);
        color: white;
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
    .btnAppStore{
        border-radius: 7px;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 130px;
        height: 45px;
        font-size: 10px;
        text-align: center;
        i{
            position: relative;
            top: 8px;
            margin-right: 10px;
        }
    }
    .btnPlayStore{
        border-radius: 7px;
        background-color: rgb(0, 0, 0);
        color: white;
        width: 130px;
        height: 45px;
        font-size: 10px;
        text-align: center;
        i{
            position: relative;
            top: 8px;
            margin-right: 10px;
        }
    }
}

.fifthBlock{
    .fifthBlock_container{
        background-color:#281152;
        height: 12vh;
        width: 70vw;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        margin-left: 10%;
        .textBlock{
            h6{
                color: white;
                font-size: 17px;
            }
            p{
                color: white;
                font-size: 10px;
            }
        }
        .LearnMoreBtn{
            position: relative;
            left: 150px;
            border-radius: 5px;
            padding: 5px;
        }
    }
}

.lowerSection{
    
    background-color: rgb(247, 247, 247);
    .headerText{
        position: relative;
        left: 50px;
        margin-bottom: 80px;
        .awardsButton{
            color: white;
            width: 70px;
            height: 30px;
            font-size: 12px;
            border-radius: 30px;
        }
    }
    .airbnbIMGcardEND{
        width: 8vh;
        position: relative;
        top: 5px;
        left: 20px;
        
    }
    .airbnbRatingEND{
        font-size: 13px;
    }
    .airbnbReviewsEND{
        font-size: 11px;
        opacity: 0.5;
        position: relative;
        top: -8px;
    }
    
    .amazonIMGcard{
        width: 8vh;
        position: relative;
        top: 5px;
        left: 25px;
    }
    .amazonText{
        font-size: 13px;
    }
    .learnMoreEND{
        position: relative;
        top: -10px;
        left: 30px;
        border-radius: 5px;
        padding: 5px;
        font-size: 12px;
        color: black;
    }
    .cards{
        #card2{
            position: relative;
            bottom: 30px;
        }
        #card4{
            position: relative;
            bottom: 30px;
        }
    }
}