@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(0, 140, 255);
  margin-top: -10px;
  padding-top: 10px;
}

.navbarr {
  background-color: rgb(0, 140, 255);
}
.navbarr .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.navbarr ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}
.navbarr li {
  margin-left: 30px;
  color: white;
  font-size: 15px;
  margin-top: 4px;
}
.navbarr .navbarlink {
  text-decoration: none;
  color: white;
}
.navbarr .logo {
  width: 60px;
}
.navbarr .sub1 {
  flex-grow: 3;
  margin-left: 20px;
}
.navbarr .sub2 {
  flex-grow: 7;
}

main .heroSection {
  height: 40vh;
  background-image: linear-gradient(178deg, #188dfa 90%, #ffffff calc(90% + 2px));
}
main .getstartedbtn {
  font-weight: bold;
  width: 25%;
  height: 30%;
  font-size: small;
}
main .cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .grid {
  display: grid;
}
main .grid-center {
  place-items: center;
}
main .text-black {
  color: black;
}
main h6,
main p {
  color: black;
}
main .viewall {
  color: rgb(0, 128, 255);
  font-size: 15px;
  text-decoration-style: dashed;
}
main .trustedIMG {
  width: 15%;
}
main .trustedSectionText {
  font-size: 12px;
}
main #mainCard {
  border-radius: 10px;
  border-bottom-right-radius: 60px;
}
main .wrapper {
  height: 100%;
  width: 65%;
}
main .creditcard, main .cards .face {
  background: #281152;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 155%;
}
main .cards .face .head {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 0 16px;
}
main .cards .face .head .cardTitle {
  font-weight: 200;
  font-size: 1rem;
}
main .cards .face .main {
  margin: 16px 16px 0 16px;
}
main .cards .face .main .number-title {
  color: #cccccc;
}
main .cards .face .main .number {
  font-size: 1.5rem;
}
main .cards .face .dates {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin: 16px 16px 16px 16px;
}
main .activeBtnCard {
  border-radius: 5px;
  background-color: rgb(50, 205, 179);
  color: white;
}
main .creditCardExpiry,
main .cardName {
  opacity: 0.5;
  font-size: 0.75rem;
}

.middleSection {
  background-color: white;
}
.middleSection .firstBlockCard {
  max-height: 400px;
}
.middleSection .firstblockP {
  font-size: 12px;
}
.middleSection #firstBlockImageDiv {
  top: -50px;
  left: 170px;
  top: 20%;
  left: 75%;
  transform: translateX(-50%);
}
.middleSection .firstBlockIMG {
  border-radius: 10px;
  width: 250px;
  height: 200px;
}
.middleSection .firstBlockBtn {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  top: 15%;
  left: 75%;
  transform: translateX(-50%);
  font-size: small;
}
.middleSection .firstBlockBtnTools {
  color: white;
  border-radius: 30px;
}
.middleSection .image-container {
  position: relative;
  overflow: hidden;
}
.middleSection .secondBlockIMG {
  width: 70%;
  height: 80%;
  border-radius: 10px;
}
.middleSection .secondBlock .max-width-50 {
  max-width: 35%;
}
.middleSection .secondBlockBtn {
  border-radius: 30px;
  background-color: rgb(50, 205, 179);
  color: white;
  width: 100px;
  height: 30px;
  font-size: 12px;
}
.middleSection .secondBlockVideoBtn {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  top: 10%;
  left: 13%;
  transform: translateX(-50%);
  font-size: small;
}
.middleSection .firstBlock {
  margin-top: 70px;
}

.leftCards .JMCircle {
  background-color: sandybrown;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  margin-top: -4px;
  color: white;
}
.leftCards .JMCircle p {
  font-size: 15px;
  margin-top: 2px;
}
.leftCards .JMtext,
.leftCards .JMtext2 {
  margin-left: 10px;
  margin-top: 0px;
  font-size: 13px;
  width: 70%;
}
.leftCards .greenCircle {
  background-color: rgb(50, 205, 179);
  height: 35px;
  width: 35px;
  border-radius: 100px;
}
.leftCards .JMtextMini {
  font-size: 11px;
}
.leftCards .JMtext2 {
  margin-top: 6px;
  font-size: 13px;
}
.leftCards .JMheart2 {
  margin-top: 6px;
  margin-left: 4px;
}

.rightCards .airbnbIMGcard {
  width: 90px;
  height: 50px;
  position: relative;
  top: 10px;
  left: 30px;
}
.rightCards .airbnbRating {
  font-size: 14px;
}
.rightCards .airbnbReviews {
  font-size: 12px;
  opacity: 0.5;
}
.rightCards .companyIMGCard {
  border-radius: 100px;
  width: 50px;
  position: relative;
  top: 20px;
  left: 55px;
}
.rightCards .companyText {
  font-size: 13px;
}
.rightCards .profileAvatars img {
  height: 35px;
  width: 35px;
  border-radius: 100px;
  border: 2px solid white;
}
.rightCards .profileAvatars .avatar1 {
  position: relative;
  left: 18px;
}
.rightCards .profileAvatars .avatar2 {
  position: relative;
  left: 8x;
}
.rightCards .profileAvatars .avatar3 {
  position: relative;
  right: 18px;
}

.thirdBlock .thirdBlockBtnTools {
  color: white;
  width: 100px;
  height: 30px;
  font-size: 12px;
  border-radius: 30px;
}

.fourthBlock .fourthBlockBtn {
  border-radius: 30px;
  background-color: rgb(245, 188, 0);
  color: white;
  width: 100px;
  height: 30px;
  font-size: 12px;
}
.fourthBlock .btnAppStore {
  border-radius: 7px;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 130px;
  height: 45px;
  font-size: 10px;
  text-align: center;
}
.fourthBlock .btnAppStore i {
  position: relative;
  top: 8px;
  margin-right: 10px;
}
.fourthBlock .btnPlayStore {
  border-radius: 7px;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 130px;
  height: 45px;
  font-size: 10px;
  text-align: center;
}
.fourthBlock .btnPlayStore i {
  position: relative;
  top: 8px;
  margin-right: 10px;
}

.fifthBlock .fifthBlock_container {
  background-color: #281152;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
.fifthBlock .fifthBlock_container .textBlock {
  padding-left: 50px;
}
.fifthBlock .fifthBlock_container .textBlock h6 {
  color: white;
  font-size: 17px;
}
.fifthBlock .fifthBlock_container .textBlock p {
  color: white;
  font-size: 10px;
}
.fifthBlock .fifthBlock_container .LearnMoreBtn {
  position: relative;
  left: 120px;
  bottom: 30px;
  border-radius: 5px;
  padding: 5px;
}

.lowerSection {
  background-image: linear-gradient(178deg, #f5f4f4 90%, #ffffff calc(90% + 2px));
}
.lowerSection .headerText {
  position: relative;
  left: 10px;
  margin-bottom: 80px;
}
.lowerSection .headerText .awardsButton {
  color: white;
  width: 70px;
  height: 30px;
  font-size: 12px;
  border-radius: 30px;
}
.lowerSection .airbnbIMGcardEND {
  width: 90px;
  height: 50px;
  position: relative;
  top: 10px;
  left: 30px;
}
.lowerSection .airbnbRatingEND {
  font-size: 13px;
}
.lowerSection .airbnbReviewsEND {
  font-size: 11px;
  opacity: 0.5;
  position: relative;
  top: -8px;
}
.lowerSection .amazonIMGcard {
  width: 90px;
  height: 50px;
  position: relative;
  top: 10px;
  left: 30px;
}
.lowerSection .amazonText {
  font-size: 13px;
}
.lowerSection .learnMoreEND {
  position: relative;
  top: -10px;
  left: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  color: black;
}
.lowerSection .cards a {
  text-decoration: none;
}
.lowerSection .cards .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.lowerSection .cards .card a:hover {
  text-decoration: none; /* Remove underline on hover */
}
.lowerSection .cards #card2 {
  position: relative;
  bottom: 30px;
}
.lowerSection .cards #card4 {
  position: relative;
  bottom: 30px;
}
.accordionSection {
  background-color: white;
}
.accordionSection .firstAccordion, .accordionSection .secondAccordion {
  max-width: 600px; /* Adjust the value based on your design */
  margin: 0 auto; /* Center the accordions */
}
.accordionSection .firstAccordion .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
}
.accordionSection .firstAccordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/%3E%3C/svg%3E");
}
.accordionSection .secondAccordion .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
}
.accordionSection .secondAccordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/%3E%3C/svg%3E");
}
.accordionSection .accordionSecondText h3 {
  font-size: 19px;
  margin-bottom: 20px;
}
.accordionSection .accordionSecondText button {
  border-radius: 5px;
  width: 120px;
  height: 40px;
}

footer {
  background-color: #281152;
}
footer .footerOne {
  display: flex;
  justify-content: center;
}
footer .footerOne h3, footer .footerOne p {
  color: white;
}
footer .footerTwo .logoOdoo {
  width: 80px;
}
footer .footerTwo h3, footer .footerTwo p {
  color: white;
}
footer .footerTwo ul {
  list-style-type: none;
}
footer .footerTwo ul a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}
footer .footerTwo #footerLinks {
  position: relative;
  left: 90px;
}
footer .footerTwo #footerLinks h6 {
  color: white;
  position: relative;
  left: 30px;
  margin-bottom: 20px;
}
footer .footerThree h3, footer .footerThree p {
  color: white;
}
footer .footerThree ul {
  list-style-type: none;
  position: relative;
  left: 70px;
}
footer .footerThree ul li {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */